<li id="review-<%= review.id %>">
  <%= link_to gravatar_for(review.user, size: 50), review.user %>
  <span class="user"><%= link_to review.user.name, review.user %></span>
  <%= link_to review.title, review_path(review.id)%>
  <span class="author"><%= review.author %></span>
  <span class="timestamp">
    Fecha: <%= time_ago_in_words(review.created_at) %>
  </span>
</li>