<header>
    <nav class="navbar is-negro" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <%= link_to "Biblioteca", root_path, id: "logo" %>
    

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" 
           data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        <%= link_to "Inicio", root_path, class: "navbar-item link-color" %>
        <%= link_to "Ayuda",  help_path, class: "navbar-item link-color" %>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link link-color">
            Mas
            </a>

            <div class="navbar-dropdown">
            <%= link_to "Nosotros", about_path,   class: "navbar-item" %>
            <%= link_to "Contacto", contact_path, class: "navbar-item"%>

            <% if logged_in? %>
                <hr class="navbar-divider">
                <%= link_to "Cuenta", current_user, class: "navbar-item"%>
            <% end %>
            </div>
        </div>
        </div>

        <div class="navbar-end">
        <div class="navbar-item">
            <% if logged_in? %>
                <%= link_to "Salir",      logout_path, class: "button is-light"   %>
            <% else %>
            <div class="buttons">
                <%= link_to "Registrate", signup_path, class: "button signup-btn" %>
                <%= link_to "Ingresa",    login_path,  class: "button is-light"   %>    
            </div>
            <% end %>
        </div>
        </div>
    </div>
    </nav>
</header>